.about_header{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../images/image12.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_view{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.about_view .about_head{
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.about_view .about_link_view{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffffc0;
}

.main_blog_head{
    text-align: center;
    font-size: 2rem;
}

.show{
    display: block;
}

.cfrtu, .subscribe{
    padding: 70px;
}

.cfrtu_header{
    padding: 10px;
    font-size: 1.6rem;
    color: hsl(240, 100%, 50%);
    font-weight: 100;
}

.posts_grid{
    grid-template-columns: repeat(3, 1fr);
}

.gridd{
    grid-template-columns: repeat(4, 1fr);
}

.hide{
    display: none;
}

.show{
    display: block;
}


.blog_image .image{
    width: 100%;
    height: 200px;
    position: relative;
}

.more_posts, .more_posts{
    width: 100%;
    height: 100%;
    position: relative;
}

.more, .main_subb{
    margin-top: 90px;
}

.email_subscribe{
    margin-top: 40px;
}

.load_more{
    display: flex;
    align-items: center;
    justify-content: center;
}

.load_more button{
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid hsla(240, 100%, 50%, 0.511);
    background: transparent;
    border-radius: 7px;
    transition: all .3s ease;
    cursor: pointer;
}

.load_more button:hover{
    transform: translateY(-6px);
    color: #fff;
    background: hsl(240, 100%, 50%);
}

.email_subscribe, .subscribe, .__sub__, .sub_descb, .main_subb, .subbbb,
.sub__form, .sub_input, .scribe, .input{
    width: 100%;
    height: 100%;
}

.hjk{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.sub_head{
    text-transform: uppercase;
    color: hsl(240, 100%, 50%);
    font-size: 2rem;
}

.sub__form{
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
}

.input input, .scribe button{
    width: 100%;
    height: 55px;
    outline: none;
    border: 1px solid hsla(240, 100%, 50%, 0.39);
    border-radius: 3px;
    padding: 10px;
    font-size: 1.1rem;
}

.input input::placeholder{
    color: hsla(240, 100%, 50%, 0.511);
    padding-left: 10px;
}

.scribe button{
    width: 250px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: all .3s ease;
    background: hsl(240, 100%, 50%);
}

.scribe button:hover{
    background: transparent;
    color: hsl(240, 100%, 50%);
}

@media screen and (max-width:992px) {
    .posts_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .gridd{
        grid-template-columns: repeat(2, 1fr);
    }

    .socials{
        flex-direction: column;
    }
    
    .cfrtu, .subscribe{
        padding: 10px;
    }

    .latest_post{
        padding: 10px;
    }

    .scribe button{
        width: 130px;
    }
    
}

@media screen and (max-width:768px) {
    .posts_grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .gridd{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .cfrtu, .subscribe{
        padding: 10px;
    }

    .scribe button{
        width: 100px;
    }
}