.bookings__, .book, .chalee, .main_booking_section, .booking_section,
.bookin_form, .bokk__, .book___, .booking_, .book_inputs, .fill,
.faq, .faq_container, .faq_grid, .faq_head, .faq_row{
    width: 100%;
    height: 100%;
}

.book_header{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../images/image12.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_view{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.about_view .about_head{
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.about_view .about_link_view{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffffc0;
}

.booking_section{
    padding: 60px;
}

.bookin_form, .book_inputs, .faq_container, .faq_row{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book_head{
    text-align: center;
    font-size: 2rem;
    color: blue;
}

.book___{
    margin-top: 60px;
}

.fill{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

.inputssss input, textarea, select{
    position: relative;
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid hsla(240, 100%, 50%, 0.321);
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
    transition: all .4s ease;
}

.inputssss textarea{
    position: relative;
    width: 100%;
    height: 200px;
    outline: none;
    border: 1px solid hsla(240, 100%, 50%, 0.321);
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
    transition: all .4s ease;
}

.inputssss label{
    position: absolute;
    left: 11px;
    top: 15px;
    color: rgba(0, 0, 255, 0.35);
    transition: all .4s ease;
}

.select label{
    position: absolute;
    left: 0%;
    top: -55%;
    color: rgba(0, 0, 255, 0.35);
    transition: all .4s ease;
}

option{
    color: rgba(0, 0, 255, 0.35);
}

.message label{
    position: absolute;
    left: 0%;
    top: -10%;
    color: rgba(0, 0, 255, 0.35);
    transition: all .4s ease;
}

.inputssss input:focus{
    border: 1px solid hsla(240, 100%, 50%);
}

.inputssss input:focus ~ label{
    position: absolute;
    top: -13px;
    padding: 5px;
    background: #fff;
}

.full_name .active, .email .active, .message .active
.phone .active{
    position: absolute;
    top: -13px;
    padding: 5px;
    background: #fff;
}

.button input{
    background: hsla(240, 100%, 50%);
    height: 55px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff;
    font-size: 1.4rem;
}

.button input:hover{
    background: rgb(255, 255, 255);
    color: hsl(0, 0%, 0%);
}

.headdd{
    font-size: 2rem;
    color: hsla(240, 100%, 50%, 0.321);
}

@media screen and (max-width:1020px) {
    .fill{
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .fill{
        width: 100%;
    }

    .booking_section{
        padding: 20px;
    }

    .book___{
        margin-top: 20px;
    }
    
}