.event_wrapper, .events, .main_events, .main_events main, .main_imagee,
.image_view, .ennvents, .env_row, .main_events_row, .env_row_padd, .row_left,
.row_right .comi, .mathch_mainn, .match, .m_head, .date__,
.game_button, .watch__but, .show, .show_image, .fteam{
    width: 100%;
    height: 100%;
}

.events_header{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../images/image12.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_events{
    padding: 30px;
}

.image_view{
    padding: 20px;
}

.image_view img{
    width: 100%;
    height: 100%;
}

.main_events_row, .row_left, .match{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.env_row{
    border: 1px solid #ccc;
    transition: all .3s ease;
}

.env_row:hover{
    border: 1px solid blue;
}

.env_row_padd{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.comi, .strea, .date__, .watttc{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.strea{
    gap: 10px;
}

.m_head{
    font-size: 1.5rem;
    color: hsla(240, 100%, 50%, 0.745);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: uppercase;
}

.date__{
    font-size: 1rem;
    gap: 6px;
}

.buy_tic, .watch__but{
    padding-top: 30px;
}

.buy_tic button{
    width: 160px;
    height: 55px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background: hsla(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
    transition: all .3s ease;
    cursor: pointer;
}

.buy_tic button:hover{
    background: transparent;
    color: hsla(240, 100%, 50%);
    border: 1px solid hsla(240, 100%, 50%);
}

.clo button{
    background: red;
}

.clo button:hover{
    background: transparent;
    color: hsl(0, 100%, 50%);
    border: 1px solid hsla(0, 100%, 50%);
}

.watt button{
    width: 40px;
    height: 40px;
    border: 1px solid hsla(240, 100%, 50%);
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.watt button i, .stream_icon i{
    color: hsla(240, 100%, 50%);
    font-size: 1.2rem;
}

.show_image img, .team_image img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width:1020px) {
    .socials{
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
 
    .show_image img, .team_image img{
        display: none;
    }

    .m_head{
        font-size: 1rem;
    }

    .row_left{
        width: 100%;
    }
}