*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

.__root, .app, ._root_app_, .header nav .nav_bar, .home_, .sports_played, .sports, .sports_container,.row, footer, .footer_socials{
    width: 100%;
    height: 100%;
    position: relative;
}

.header{
    width: 100%;
    z-index: 99;
}

.home__ img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    position: absolute;
    top: 0;
}

.header nav .nav_bar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* background: #00000084; */
}

.header .nav_logo, .header .links{
    position: relative;
}

.header .nav_logo img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.nav_links{
    transition: all .4s ease;
    z-index: 99999;
}

.nav_links.nav_active{
    transform: translateX(0%);
    background: hsl(240, 100%, 50%);
}

.header .links ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.header .links ul li{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 3px;
    transition: all .4s ease;
    border: none;
}

.header .links ul li a{
    text-decoration: none;
    color: #fff;
}

.header .links ul li:hover{
    background: #cccccc77;
    /* border-bottom: 2px solid blue; */
}

.header .active{
    background: #cccccc77;
    border-bottom: 2px solid blue;
}

.mobile{
    position: relative;
    width: 54px;
    height: 54px;
}

.puul{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    transition: all .4s ease;
    border: none;
    padding: 5px;
    background: transparent;
}

.puul > div{
    width: 80%;
    height: 2px;
    margin: 5px;
    background: hsl(240, 100%, 50%);
    z-index: 2;
}

.puul:active{
    background: #111;
}

.mobile{
    display: none;
}

.home__view{
    position: absolute;
    top: 10%;
}

._view{
    width: 100%;
    padding: 20px;
    /* padding-top: 150px; */
}

._view ._texts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

._texts h1{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 6rem;
    color: #ccc;
}

.register{
    width: 100%;
    margin-top: 80px;
}

.register a button{
    width: 200px;
    height: 55px;
    background: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease;
    color: #fff;
    font-size: 1.2rem;
}

.register button:hover{
    transform: translateY(-6px);
}

.sports_played{
    margin-top: 60px;
}

.sports .sports_header{
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: hsl(240, 100%, 50%);
}
.grid {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 50px auto;
}

.row {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    transition: all .4s ease;
}

.row_image {
    width: 100%;
    height: 100%;
    position: relative;
}

.grid .row img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.image_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent; 
    transition: background .4s ease; 
    opacity: 0;
}

.image_text p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}

.row:hover .image_text {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.511), rgba(0, 0, 255, 0.969));
    opacity: 1;
}


.footer{
    background: hsla(240, 100%, 50%);
    margin-top: 40px;
}

.footer_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.footer_top{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.footer_top_text{
    padding-left: 20px;
    font-size: 1rem;
    color: rgb(252, 252, 253);
}

.social_link{
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    transition: all .3s ease;
}

.social_link{
    width: 100%;
    border: 1px solid hsla(0, 0%, 100%);
}

.social_link:hover{
    transform: translateY(-6px);
}

.social_link a{
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.socials{
    gap: 20px;
}

.socials{
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon{

    position: relative;
}

.media_name{
    color: #cccc;
}

.icon .bi{
    font-size: 1.5rem;
    color: rgb(251, 251, 252);
}

@media screen and (max-width:992px) {
    .nav_links{
        position: fixed;
        left: 0;
        background: hsl(240, 100%, 50%);
        width: 60%;
        height: 100vh;
        top: 0;
        padding: 10px;
        transition: all .4s ease;
        transform: translateX(-100%);
    }

    .nav_links .links ul{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav_links .links ul li{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        padding-top: 30px;
        border-radius: 3px;
        transition: all .4s ease;
        border: none;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile{
        display: block;
    }
    
}

@media screen and (max-width:768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

::-webkit-scrollbar{
    display: none;
}